.schedule_status1 {
    width: 8rem;
    padding: 3px 10px;
    margin: 4px;
    border-radius: 8px;
    background: #ffcdd2;
    border: 0;
}

.schedule_status2 {
    width: 8rem;
    padding: 3px 10px;
    margin: 4px;
    border-radius: 8px;
    background: #fff59d;
    border: 0;
}

.schedule_status3 {
    width: 8rem;
    padding: 3px 10px;
    margin: 4px;
    border-radius: 8px;
    background: #b3e5fc;
    border: 0;
}

a.schedule_status1:hover, a.schedule_status2:hover, a.schedule_status3:hover {
    color:azure;
}

.view_status {
    width: 8rem;
    pointer-events: none;
}

